
[global]
base_directory     = . 
language           = en
template_directory = _templates/default
temp_directory     = tmp
permissions        = 0x0001;

[site]
homepage = "my homepage"
sitename = "blabla"

[smarty]
