[global]
base_directory     = .
language           = en
template_directory = _templates/default
temp_directory     = tmp
permissions        = 0x0001;
login_required     = true
show_hidden        = false
no_access          =

[site]
homepage = "my homepage"
sitename = "blabla"

[smarty]
