#qx_page { width:95%; }

div.qx {
    text-align:center;
    font-family: verdana; sans-serif;
    background:white;
    align: center;
    }

.qx .title {
    text-align:center;
    font-size:1.3em;
}

.qx img.disabled
{
    opacity:0.3
}
.qx table { margin:auto; }
.qx table { font-size:0.8em; }
.qx table td { text-align:left; }
.qx table#qx_login { font-size:1.2em; }
.qx table#qx_login td { padding:0.3em; }
.qx table#qx_login input { font-size:1.0em; border-top:0px; border-left:0px; border-right:0px;}
.qx table#qx_login select { font-size:1.5em; }

.qx table.directorylist { padding-top: 1em; width:100%;}

.qx table.directorylist thead { font-weight:bold; }
.qx table.directorylist thead th { text-align:left; border-bottom:solid 1px black;}
.qx table.directorylist tfoot th { text-align:left; border-top:solid 1px black;}
.qx table.directorylist th { padding:0.3em; }
.qx table.directorylist td { padding:0.3em; }
.qx .footer * { font-size: 0.8em; }
