div.qx {
    text-align:center;
    font: verdana; sans-serif;
    width:80%;
    background:white;
    align: center;
    }

.qx .title {
    text-align:center;
    font-size:1.3em;
}

.qx img.disabled
{
    opacity:0.3
}

.qx table.directorylist { padding-top: 1em; }

.qx table.directorylist thead { font-weight:bold; border-bottom:solid 1px black; }
.qx table.directorylist th { text-align:left; border-bottom:solid 1px black;}
