#qx_page { width:95%; }

div.qx {
    text-align:center;
    font-family: verdana; sans-serif;
    background:white;
    }

.qx .title {
    text-align:center;
    font-size:1.3em;
}

.qx img.disabled
{
    opacity:0.3
}
.qx table { margin:auto; }
.qx table { font-size:0.8em; }
.qx table td { text-align:left; }
.qx table#qx_login { font-size:1.2em; }
.qx table#qx_login td { padding:0.3em; }
.qx table#qx_login input { font-size:1.0em; border-top:0px; border-left:0px; border-right:0px;}
.qx table#qx_login select { font-size:1.5em; }
.qx #login_header { font-size:1.2em;  font-weight:bold; margin-bottom:1.2em;  margin-top: 1.2em; }
.qx #login_form { margin-bottom:1.2em; }
.qx input#login_button { font-size:1.4em;  font-weight:bold; height:2em; }

.qx table.directorylist { padding-top: 1em; width:100%;}

.qx table.directorylist thead { font-weight:bold; }
.qx table.directorylist thead th { text-align:left; border-bottom:solid 1px black;}
.qx table.directorylist tfoot th { text-align:left; border-top:solid 1px black;}
.qx table.directorylist th { padding:0.3em; }
.qx table.directorylist td { padding:0.3em; }

.qx div.toolbar { text-align:left; }
.qx div.toolbar table { margin-top:0.5em; text-align:left; width:auto; margin:0px; }
.qx div.toolbar table td { padding:0.3em; }

.qx .footer * { font-size: 0.8em; }
